/* ==UserStyle==
@name           Example.com styles
@namespace      great-userstyles.github.io
@version        1.0.0
@description    Example.com styles
@author         era2010-coder
==/UserStyle== */

@-moz-document domain("example.com") {
    div {
        color: brown !important;
    }

    a {
        color: brown !important;
        text-decoration: underline !important;
    }
}
